{% if error_message != "" %}
    <div class="error-message" role="alert">{{ error_message }}</div>
{% endif %}
<form id="forgot-password-form"
    hx-post="/auth/forgot-password"
    hx-target="#container"
    hx-swap="innerHTML">
    <label for="email">
        Email
        <input type="email" id="email" name="email" required autocomplete="email" placeholder="john.doe@example.com" value="{{ email }}" />
    </label>
    <button type="submit">Send Verification Code</button>
    <div class="center">
        Remember your password?&nbsp;<a href="/login">Back to login</a>.
    </div>
</form>
