{% extends "layout.html" %} {% block page_title %}404{% endblock %} {% block content %}
<div class="login-container">
	<div class="login-card">
		<article>
			<header>
				<h2>404</h2>
				<div>Yup, nothing to see here...</div>
			</header>
			<div class="center" style="padding: 1rem 0">
				<a href="/" role="button" class="full-width">Back to the dashboard</a>
				<div style="margin-top: 1.5rem">
					<a href="https://fulgur.app" class="secondary">fulgur.app</a>
				</div>
			</div>
		</article>
	</div>
</div>
{% endblock %}
