{% extends "layout.html" %} {% block page_title %}404{% endblock %} {% block content %}
<div class="flex justify-center items-center min-h-[50vh] p-8 max-sm:min-h-0 max-sm:p-4 max-sm:flex-1">
	<div class="card bg-base-100 shadow-xl w-full max-w-md">
		<div class="card-body">
			<h2 class="card-title text-2xl">404</h2>
			<p>Yup, nothing to see here...</p>
			<div class="text-center py-4">
				<a href="/" class="btn btn-primary w-full">Back to the dashboard</a>
				<div class="mt-6">
					<a href="https://fulgur.app" class="link">fulgur.app</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
