{% extends "layout.html" %}

{% block page_title %}Update Password{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-card">
            <article>
                <header>
                    <h2>Password Update Required</h2>
                    <div>You must set a new password before continuing</div>
                </header>
                <div id="container">
                    {% include "partials/auth/force_password_update_form.html" %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
