<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fulgurant - {% block page_title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    {% block head %}{% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    {% if csrf_token is defined %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="/assets/js/csrf.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link rel="stylesheet" href="/assets/css/layout.css">

  </head>
  <body>
    <main id="content" class="container-fluid container-max-width">
      <nav>
        <ul>
          <li><h1>Fulgur<span class="primary">ant</span></h1></li>
        </ul>
        <ul>
          {% if user is defined %}
          <li><a href="/" class="contrast">Dashboard</a></li>
          {% if user.is_admin() %}
          <li><a href="/admin" class="contrast">Admin</a></li>
          {% endif %}
          <li><a href="/settings" class="contrast">Settings</a></li>
          <li><a href="/logout" class="contrast" hx-post="/logout" hx-swap="none">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
