{% extends "layout.html" %}

{% block page_title %}Register{% endblock %}

{% block content %}
    <div class="flex justify-center items-center min-h-[50vh] p-8 max-sm:min-h-0 max-sm:p-4 max-sm:flex-1">
        <div class="card bg-base-100 shadow-xl w-full max-w-md">
            <div class="card-body">
                <h2 class="card-title text-2xl">Register</h2>
                <p>Create a new Fulgur account</p>
                {% include "partials/auth/registration_step_1.html" %}
            </div>
        </div>
    </div>
{% endblock %}
